header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    justify-content: center;
}

#coin-value {
    display: flex;
    width: 20rem;
    text-align: center;
}

.vending-machine {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.machine-body {
    display: grid;
    width: 80vw;
    height: 100%;
    gap: 10px;
    padding: 1rem;
    margin: 2rem;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.display-window {
    grid-row: span 2;
}

.coin-handler {
    display: flex;
    flex-direction: row;
}

.accumulator-readout {
    height: 2rem;
    width: 8rem;
    padding: 0.5rem;
}